<h1>Transactions</h1>

<%= if @live_action in [:new, :edit] do %>
	<.modal return_to={Routes.transaction_index_path(@socket, :index)}>
		<.live_component
			module={BabookWeb.TransactionLive.FormComponent}
			id={@transaction.id || :new}
			title={@page_title}
			action={@live_action}
			transaction={@transaction}
			return_to={Routes.transaction_index_path(@socket, :index)}
		/>
	</.modal>
<% end %>

<table>
	<thead>
		<tr>
			<th>Account</th>
			<th>Amount</th>
			<th>Transfer</th>
			<th>Merchant</th>
			<th>Category</th>
			<th>Budget allocation</th>

			<th></th>
		</tr>
	</thead>
	<tbody id="transactions">
		<%= for transaction <- @transactions do %>
			<tr id={"transaction-#{transaction.id}"}>
				<td><%= transaction.account %></td>
				<td><%= transaction.amount %></td>
				<td><%= transaction.transfer %></td>
				<td><%= transaction.merchant %></td>
				<td><%= transaction.category %></td>
				<td><%= transaction.budget_allocation %></td>

				<td>
					<span><%= live_patch "🖉", to: Routes.transaction_index_path(@socket, :edit, transaction), class: "test" %></span>
					<span><%= link "❌", to: "#", phx_click: "delete", phx_value_id: transaction.id, data: [confirm: "Are you sure?"] %></span>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<span><%= live_patch "New Transaction", to: Routes.transaction_index_path(@socket, :new) %></span>
<style>
	#transactions {
		background-color: var(--nord1);
	}
	main.container {
		margin: 0 !important;
		min-width: 100%;
	}
</style>